<header>
    <ul class="menu-general">
        <li placement="bottom" ngbTooltip="Inicio">
            <a href="#header">
                <i class="fas fa-home"></i>
            </a>
        </li>
        <li placement="bottom" ngbTooltip="Sobre mí">
            <a href="#aboutMe">
                <i class="fas fa-user-circle"></i>
            </a>
        </li>
        <li placement="bottom" ngbTooltip="Proyectos">
            <a href="#projects">
                <i class="fas fa-code"></i>
            </a>
        </li>
        <li placement="bottom" ngbTooltip="Habilidades">
            <a href="#skills">
                <i class="fas fa-project-diagram"></i>
            </a>
        </li>
        <li placement="bottom" ngbTooltip="Experiencia">
            <a href="#experience">
                <i class="fas fa-building"></i>
            </a>
        </li>
    </ul>
    <div class="main">
        <div>
            <div class="nombre">
                <h1>Juan Camilo Rios Tarazona</h1>
                <h3>DESARROLLADOR WEB</h3>
            </div>
            <div class="redes">
                <div>
                    <a href="mailto:juanr_0404@hotmail.com">
                        <i class="fas fa-envelope"></i>
                        <span> E-mail</span>
                    </a>
                </div>
                <span>-</span>
                <div>
                    <a href="https://github.com/JuanCamilo4" target="_blank">
                        <i class="fab fa-github"></i>
                        <span> Github</span>
                    </a>
                </div>
                <span>-</span>
                <div>
                    <a href="https://www.linkedin.com/in/juanriost/" target="_blank">
                        <i class="fab fa-linkedin"></i>
                        <span> Linkedin</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
