<div class="main">
    <h4 class="titulo-seccion">Sobre mí</h4>
    <div class="card">
        <div class="tools">
          <div class="circle">
            <span class="red box"></span>
          </div>
          <div class="circle">
            <span class="yellow box"></span>
          </div>
          <div class="circle">
            <span class="green box"></span>
          </div>
        </div>
        <div class="card__content">
            Soy un Ingeniero de Sistemas en formación en 10° semestre de la Universidad de Santander orientado a la programación web,
            enfocado en la solución de problemas, atención a los detalles y buena gestión del tiempo. Tengo un gran interés en aprender cada vez más sobre las
            tecnologías que engloban el mundo del desarrollo y la informática. Además, cuento con conocimientos en diseño gráfico y planeación de
            proyectos, lo cual representan un gran aporte durante el desarrollo de software.
        </div>
    </div>
</div>
