ul{
    background-color: #373838;
    padding: 0;
    position: fixed;
    z-index: 25;
    top: 40%;
    left: 0;
    width: 3.5rem;
    box-sizing: border-box;
}

li{
    list-style: none;
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 0.8rem;
    font-size: 1.5rem;
    cursor: pointer;
}
li:hover{
    color: rgb(228, 228, 228);
}