<div class="main">
    <h4 class="titulo-seccion">Habilidades</h4>
    <div class="mt-4 container-habilities">
        <div placement="bottom" ngbTooltip="HTML 5">
            <i class="devicon-html5-plain colored"></i>
        </div>
        <div placement="bottom" ngbTooltip="CSS 3">
            <i class="devicon-css3-plain colored"></i>
        </div>
        <div placement="bottom" ngbTooltip="JavaScript">
            <i class="devicon-javascript-plain colored"></i>
        </div>
        <div placement="bottom" ngbTooltip="Angular">
            <i class="devicon-angularjs-plain colored"></i>
        </div>
        <div placement="bottom" ngbTooltip="Bootstrap">
            <i class="devicon-bootstrap-plain colored" style="color: #916dc9;"></i>
        </div>
        <div placement="bottom" ngbTooltip="Node Js">
            <i class="devicon-nodejs-plain colored"></i>
        </div>
        <div placement="bottom" ngbTooltip="Java">
            <i class="devicon-java-plain colored"></i>
        </div>
        <div placement="bottom" ngbTooltip="Mongo DB">
            <i class="devicon-mongodb-plain colored"></i>
        </div>
        <div placement="bottom" ngbTooltip="My SQL">
            <i class="devicon-mysql-plain colored" style="color: #00b3ff"></i>
        </div>
        <div placement="bottom" ngbTooltip="Git & GitHub">
            <i class="devicon-git-plain colored"></i>
        </div>
        <div placement="bottom" ngbTooltip="Figma">
            <i class="devicon-figma-plain colored"></i>
        </div>
    </div>
</div>