.idiomas-container{
	display: flex;
	justify-content: center;
	align-items: center;

	background-image: url('../../../../assets/images/img_idiomas.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	padding: 3.5%;
	margin-bottom: 2.5%;
}
.content-idiomas{
	background-color: rgba(255, 255, 255, 0.5);
	width: 80%;
	max-width: 1000px;
	text-align: center;
	padding: 20px;
	border-radius: 80px;
	box-sizing: border-box;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}
.titulo-idiomas{
	margin-top: 0;
	margin-bottom: 1%;	
	text-align: center;
}
.idiomas p{
	font-family: "Raleway";
	font-size: 26px;
}
.idiomas span{
	color: #00559b;
}