:root{
	--color-gris-oscuro: #494949;
	--color-gris-medio: #696969;
	--color-gris-claro: #7F7F7F;
	--color-azul-principal: #00A3FF;
}
@font-face{
	font-family: "Inter Bold";
	src: url("assets/fonts/Inter-Bold.ttf");
	src: local(),
		url("assets/fonts/Inter-Bold.ttf") format("woff");
}
@font-face{
	font-family: "Inter Ligth";
	src: url("assets/fonts/Inter-Light.ttf");
	src: local(),
		url("assets/fonts/Inter-Light.ttf") format("woff");
}
@font-face{
	font-family: "Inter Thin";
	src: url("assets/fonts/Inter-Thin.ttf");
	src: local(),
		url("assets/fonts/Inter-Thin.ttf") format("woff");
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
.titulo-seccion{
    font-family: "Inter Bold";
    color: #fff;
    text-align: center;
}