#containerModal{
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	z-index: 25;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
#contentModal{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#texto-nivel{
	margin-top: 2%;
}
.modal-personalizado{
	width: 40%;
	max-width: 560px;
	background-color: #fff;
	padding: 2%;
	padding-top: 1%;
	margin: 0 6%;
	align-items: center;
	border: 5px solid #004589;
	border-radius: 5px;
	border-bottom-width: 18px;
}
.modal-personalizado-nivel{
	display: flex;
	align-items: center;
}
.body-modal{
	width: 50%;
}
.container-img-modal{
	width: 8vw;
	height: 8vw;
	max-width: 125px;
	max-height: 125px;
	margin-right: 10%;
	margin-left: 3%;
	border-radius: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 6px #000;
}
.container-close-modal{
	text-align: right;
	font-size: 25px;
	cursor: pointer;
	color: #002d5a;
}
.container-img-modal img{
	width: 135%;
}
.btn-control-modal{
	width: 3vw;
	height: 3vw;
	max-width: 43px;
	max-height: 43px;
	min-height: 40px;
	min-width: 40px;
	background-color: #202020;
	border-radius: 100%;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.flecha{
	clip-path: polygon(50% 0%, 0% 100%, 50% 75%, 100% 100%);
	width: 1.5vw;
    height: 1.5vw;
	max-width: 25px;
	max-height: 25px;
	min-width: 20px;
    min-height: 20px;
    background-color: #fff;
	transition: all 0.2s;
}
.btn-control-modal:hover > .flecha{
	background-color: rgb(204, 204, 204);
	transition: all 0.2s;
}
.flecha-derecha{
	transform: rotate(90deg);
}
.flecha-izquierda{
	transform: rotate(-90deg);
}
#containerNivel{ 
	width: 100%;
	border-radius: 100px;
	background-color: #ccc;
}
#nivelManejo{
	background-color: #004589;
	height: 10px;
	width: 50%;
	transition: all 0.5s;
	border-radius: 100px;
}
#imgLogoTecno{
	width: 80%;
}
.tecnologias-manejadas{
	margin-top: 5%;
}
.tecno-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 10px;
}
.btn-tecno{
    width: 3rem;
    height: 3rem;
	min-width: 90px;
	min-height: 90px;
	max-width: 114px;
	max-height: 114px;
	margin-right: 2.5%;
    border: none;
    overflow: hidden;   
    margin: 0.5rem 1rem;
    border-radius: 0.5rem;
    outline: none;
	background-repeat: no-repeat;
	background-size: 130% 100%;
	background-position: center;
    transition: background-size 0.3s;
}
.btn-tecno:hover{
	background-size: 150% 120%;
	outline-style: solid;
	outline-width: 2px;
	outline-offset: 2.5px;
	transition: background-size 0.3s;
}
.btn-tecno:nth-child(1):hover{ /*html*/
	outline-color: #e44c25;
}
.btn-tecno:nth-child(2):hover{ /*css*/
	outline-color: #1a73ba;
}
.btn-tecno:nth-child(3):hover{ /*js*/
	outline-color: #d3be1d;
}
.btn-tecno:nth-child(4):hover{ /*query*/
	outline-color: #172c45;
}
.btn-tecno:nth-child(5):hover{ /*bootstrap*/
	outline-color: #563d7c;
}
.btn-tecno:nth-child(6):hover{ /*angular*/
	outline-color: #ce002f;
}
.btn-tecno:nth-child(7):hover{ /*java*/
	outline-color: #c5c5c5;
}
.btn-tecno:nth-child(8):hover{ /*sql*/
	outline-color: #0072c5;
}
.btn-tecno:nth-child(9):hover{ /*git*/
	outline-color: #c2c2c2;
}
.btn-tecno:nth-child(10):hover{ /*corel*/
	outline-color: #55b509;
}
.tecno-container-slide{
	margin: 0 auto;
}
.tecnoSlide{
	display: inline-block;
}
.grupo-botones{
	width: 100%;
}
#containers{
	display: inline-block;
}

.btn-control{
	display: inline-block;
}
.btn-tecno:last-child{
	margin-right: 0;
}