<div class="container-header-content">
    <h1 class="display-1 text-saludo-index">¡Hola <span>mundo!</span></h1>

    <div class="container container-content">
        <div class="row">
            <div class="col-md-6 container-text-presentacion">
                Mi nombre es <span>Juan Camilo</span>, te doy la
                bienvenida a mi <span>portafolio web.</span>
                Acá podrás ver los <span>proyectos</span> que he 
                realizado hasta ahora, además de 
                información sobre mí.
            </div>
            <div class="col-md-6">
                <button routerLink="Proyectos" class="btn-options-index">Proyectos Realizados</button>
                <a href="#footer" class="btn-options-index">Contáctame</a>
                <button routerLink="Proyectos" class="btn-options-index">Solicitar CV</button>
            </div>
        </div>
    </div>
</div>

<div id="particles-js"></div>

<aside class="flechas-animadas">
    <div class="arrow up"></div>
    <div class="arrow down"></div>
</aside>
